<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <title>Treatment Facility Heatmap</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  <link rel="stylesheet" , type="text/css" href="{{ url_for('static', filename='css/p3style.css') }}">

  </head>

  <body>
<div class="container">
  <div id="nav-placeholder">

  </div>

  <script>
    $(function () {
      $("#nav-placeholder").load("/p3navbar");
    });
  </script>
<div id="map" style="height: 600px"></div>

    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>

    <!-- JS -->
    <script type="text/javascript" src="static/js/treatment_facility_heatmap.js"></script>

    <!-- Leaflet heatmap plugin-->
    <script type="text/javascript" src="static/js/leaflet-heat.js"></script>
   
  </body>

</html>