<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bay Area Healthcare Facilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    
</head>

<body>
<div class="container">
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("/p3navbar");
    });
</script>
    
    <div class="container">
    <h3>Bay Area Healthcare Facilities Investigated</h3>
        <p>The aim of this project was to analyse CMS Healthcare Data for the Bay Area, and compare healthcare outcomes and facilities' YELP ratings with the availability of facilities and income levels</p>
        </p>
    </div>
<style>
    .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
</style>

<input type="file" id="files" name="files[]" multiple />
<output id="list"></output>

<script>
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var span = document.createElement('span');
                    span.innerHTML = ['<img class="thumb" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'
                    ].join('');
                    document.getElementById('list').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>
<div class="container">
<a href="https://www.census.gov/library/visualizations/2018/comm/acs-5yr-poverty-all-counties.html?cid=acs-5yr-poverty-all"
    target="_blank"><img src="https://www.census.gov/library/visualizations/2018/comm/acs-5yr-poverty-all-counties/_jcr_content/map.detailitem.800.high.jpg/1543960909684.jpg"
        alt="County Poverty Rate for the United States: 2013-2017" width="1058" height="800" title="County Poverty Rate for the United States: 2013-2017" /></a>
<li><a>[Source: U.S. Census Bureau]</a></li>
</div>

</body>

</html>