<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bay Area Healthcare Facilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<link rel="stylesheet" href="static/css/style.css" />

</head>

<body>
    <div class="container">
        <div id="nav-placeholder">

        </div>

<script>
    $(function () {
        $("#nav-placeholder").load("/p3navbar");
    });
</script>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Visualisations
    </button>
<!-- API key CHANGE HTML FILES TO MAP LAYERS, MAYBE SPLIT YELP MAPS -->
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="Cloud Cover.html">Base Layer</a>
        <a class="dropdown-item" href="Temperature.html">Markers</a>
        <a class="dropdown-item" href="Temperature.html">Heatmap</a>
        <a class="dropdown-item" href="Wind.html">YELP MAPS</a>
    </div>
</div>
<div class="container">

<div id="map"></div>

<!-- API key -->
<script type="text/javascript" src="static/js/config.js"></script>

<!-- JS -->
<!-- <script type="text/javascript" src="static/js/just-crime.js"></script> -->
<script type="text/javascript" src="Mheatmap.js"></script>

<!-- Leaflet heatmap plugin-->
<script type="text/javascript" src="/leaflet-heat.js"></script>
<link rel="shortcut icon" href="iMissYouFavicon.ico" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</div>

</script>
</body>
</html>
<script>
